<main class="container pt-5 pb-5 animate__animated animate__fadeInTopRight">
  <div class="row d-flex mb-4">
    <h2 class="h1 mr-auto ml-3 shadow">Admin Page</h2>

  </div>
<div class="row">
  <div class="card col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
    <div class="card-body text-center">
    <a class="btn btn-primary align-self-center" href="admin/account"><i class="far fa-plus-square"></i>
        &nbsp; View Accounts</a>
      
    </div>
    </div>
     <div class="card col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
    <div class="card-body text-center">
   <a class="btn btn-primary align-self-center" href="admin/car"><i class="far fa-plus-square"></i>
        &nbsp; View Cars</a>
      
    </div>
    </div>

     <div class="card col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
    <div class="card-body text-center">
  <a class="btn btn-primary align-self-center" href="admin/order"><i class="far fa-plus-square"></i>
        &nbsp; View Orders</a>
      
    </div>
    </div>
  </div>

</main>
