
<head>
  <meta name="description" content="View car from Mercedes Benz Online Dealership.">
  <meta name="keywords" content="view,car,order">
</head>
<main class="container py-5 " id="search">
  <div class="animate__animated animate__slideInDown ">
   <div class="row d-flex mb-4">
    <nav aria-label="breadcrumb ml-auto ">
      <ol class="breadcrumb ml-2  smallerText">
        <li class="breadcrumb-item"><a href="/admin">Admin</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="/admin/car">View Cars</a></li>
      </ol>
    </nav>
    <h2 class="h1 mr-auto ml-3 shadow h2Text"> View Cars</h2>
    <a class="btn btn-primary ml-auto align-self-center mr-3" href="car/add"><i class="far fa-plus-square"></i> &nbsp;
      Add Car</a>
  </div>

    <form id="search-car-form" method="GET" class="border mb-3 p-3">

      <label class="text-white">
        Search
      </label>
      <div class="row">
        <div class="form-group col-8">
          <input id="q" name="q" type="search" class="form-control" />
        </div>
        <div class="col-4">
          <button type="submit" class="btn btn-info text-white shadow" id="searchButton">
            <i class="fas fa-search"></i> &nbsp; Search
          </button>
        </div>
        {{!-- <div class="form-group col-3 align-self-center">
          <button type="submit" class="btn btn-info text-white shadow" id="searchButton">
            <i class="fas fa-search"></i> &nbsp; Search
          </button>
        </div> --}}
      </div>


      <div class="row">
        <div class="form-group col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 text-white">
          <label for="model" class="shadow">
            Model
          </label>
          <select id="model" name="model" class="form-control">
            <option value="">
              All Models
            </option>
            <option value="C-Class">
              C-Class
            </option>
            <option value="E-Class">
              E-Class
            </option>
            <option value="G-Class">
              G-Class
            </option>
          </select>
        </div>
        <div class="form-group col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 text-white">
          <label for="price" class="shadow">
            Price
          </label>
          <select id="price" name="price" class="form-control">
            <option value="">
              All Prices
            </option>
            <option value="45000">
              price: 0 - $45,000
            </option>
            <option value="65000">
              price: 0 - $65,000
            </option>
            <option value="100000">
              price: 0 - $100,000
            </option>

          </select>
        </div>
        <div class="form-group col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 text-white">
          <label for="type" class="shadow">
            Car Types
          </label>
          <select id="type" name="type" class="form-control">
            <option value="">
              All Types
            </option>
            <option value="sedan">
              Sedans
            </option>
            <option value="SUV">
              SUV
            </option>
            <option value="coupe">
              Coupe
            </option>
          </select>
        </div>
        <div class="form-group col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 text-white">
          <label for="sortBy" class="shadow">
            Sort By
          </label>
          <select id="sortBy" name="sortBy" class="form-control">
            <option value="">
              Default
            </option>
            <option value="name_A">
              Name A-Z
            </option>
            <option value="name_Z">
              Name Z-A
            </option>
            <option value="price">
              Price
            </option>
          </select>
        </div>
      </div>
    </form>
  </div>
  <div id="search-results-spinner" class="spinner-border m-2 recolor"></div>
  <div id="search-results">

  </div>

  <script src="/js/jquery.min.js"></script>
  <script src="/js/oboe-browser.min.js"></script>
  <script>
    const performSearch = () => {
      $('#search-results-spinner').removeClass('d-none');
      $('#search-results').html('');

      const formData = $('#search-car-form').serialize();

      oboe('/api/search/car?' + formData)
        .node('![*]', item => {
          if (item) {

            item.price = (item.price).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');

            $('#search-results').append(`
<div class="card mt-3">
      <div class="card-body">
        <h4 class="card-title h3 shadow h0Text">${item.name}</h4>
        <div class="row">
          <div class="h5 col-sm align-self-center">Price: $${item.price}</div>
          <div class="h5 col-sm align-self-center">Year: ${item.year}</div>
          <div class="h5 col-sm align-self-center">Model: ${item.model}</div>

          <div class="mr-4">
            <a href="car/edit/${item._id}" class="btn btn-primary shadow"><i class="far fa-edit"></i>&nbsp; Edit</a>
            <a href="car/delete/${item._id}" class="btn btn-danger shadow"><i class="fas fa-trash-alt"></i>&nbsp; Delete</a>
          </div>
        </div>
      </div>
    </div>
            `);
          }
          return oboe.drop;
        })
        .done(_ => {
          $('#search-results-spinner').addClass('d-none');
        })
        .fail(res => {
          //Nothing yet
        });
    };

    $(() => {
      performSearch();
      $('#search-car-form').on('submit', (evt) => {
        evt.preventDefault();
        performSearch();
      });
      $('#q').on('change', (evt) => {
        $('#search-car-form').trigger('submit');
      });
      $('#model').on('change', (evt) => {
        $('#search-car-form').trigger('submit');
      });
      $('#type').on('change', (evt) => {
        $('#search-car-form').trigger('submit');
      });
      $('#sortBy').on('change', (evt) => {
        $('#search-car-form').trigger('submit');
      });
      $('#price').on('change', (evt) => {
        $('#search-car-form').trigger('submit');
      });
    });
  </script>
</main>