<main class="container text-center pt-5" id="addedPage">
  <div class="h1 mb-4 text-white">{{car.name}} {{account.username}} added successfully!</div>
  <a href="/admin" class="btn btn-primary text-center mx-2 my-2 text-white">Back to Admin</a>
</main>