<main class="container pt-5 text-center" id="deletedPage">
  <div class="h1 mb-4 text-white">Car deleted successfully!</div>
  <a href="/admin" class="btn btn-primary text-center mx-2 my-2 text-white">Back to Admin</a>
</main>