<head>
  <meta name="description" content="Deleted success.">
  <meta name="keywords" content="delete,car,account,order">
</head>
<main class="container pt-5 text-center" id="deletedPage">
  <div class="h1 mb-4 text-white"> Deleted successfully!</div>
  <a href="/admin" class="btn btn-primary text-center mx-2 my-2 text-white">Back to Admin</a>
</main>