<main class="container pt-5 text-center" id="editedPage">
  <div class="h1 mb-4 text-white">{{car.name}} {{account.username}} {{order._id}} edited successfully!</div>
  <a href="/admin" class="btn btn-primary text-center mx-2 my-2 text-white">Back to Admin</a>
</main>