<head>
  <meta name="description" content="Mercedes Benz Online Dealership Hope Page.">
  <meta name="keywords" content="home,video,mercedes,benz">
</head>
<main class="container pt-5" id="home">
  <div class="mb-5">
    <h1 class="mr-auto animate__animated  animate__slideInLeft text-center text-white shadow">Mercedes Benz Online Dealership

    </h1>
    <div class="text-center h4 animate__animated  animate__slideInRight">The Best or Nothing.</div>
  </div>
  
  <div class="row pb-5">
    <div class="card col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3  mt-3">
      <img class="card-img-top imageO w-100" src="../images/clock.png" alt="Card image">
      <div class="card-img-overlay align-self-center">
        <div class="h3 card-title text-center shadow">94 Years</div>
        <p class="card-text shadow">Mercedes-Benz was founded in 1926 by Karl Benz, Gottlieb Daimler, Wilhelm Maybach and Emil
          Jellinek, whose daughter Mercedes is our original namesake..</p>

      </div>
    </div>
    <div class="card col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3  mt-3">
      <img class="card-img-top imageO" src="../images/location.png" alt="Card image">
      <div class="card-img-overlay">
        <div class="h3 card-title text-center shadow">93 Locations</div>
        <p class="card-text shadow">With offices in 93 locations worldwide and a corporate headquarters in Stuttgart, Germany,
          our global presence continues to grow.</p>

      </div>
    </div>
    <div class="card col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3  mt-3">
      <img class="card-img-top image1" src="../images/map.png" alt="Card image">
      <div class="card-img-overlay">
        <div class="h3 card-title text-center shadow">5 Continents</div>
        <p class="card-text shadow">Our vehicles are manufactured in 17 countries on five continents, and distributed all over the world.</p>

      </div>
    </div>
    <div class="card col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3  mt-3">
      <img class="card-img-top imageO" src="../images/first.png" alt="Card image">
      <div class="card-img-overlay">
        <div class="h3 card-title text-center shadow">6 Firsts</div>
        <p class="card-text shadow">From the crumple zone in 1959 to the airbag in 1980 and PRE-SAFE® braking in 2002, Mercedes-Benz has invented many of the automotive technologies we see today.</p>

      </div>
    </div>

  </div>
  <div class="row mb-4">
    <h2 class="mr-auto animate__animated  animate__slideInLeft ml-3 text-white shadow">Bertha Benz: The First Driver
    </h2>
    <p class="shadow animate__animated  animate__slideInLeft">She forged the road ahead and paved it for us all. Discover the story of Bertha Benz and her historic first drive.</p>
  </div>
  <div class="row d-flex justify-content-center pb-5">
    <div class="col-md-12 mt-3 animate__animated  animate__slideInLeft">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/vsGrFYD5Nfs" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>
  </div>

</main>